{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-botton mb-4">Nuevo Contacto</legend>
            <div class="form-group">
                {{ form.nombre.label(class="form-control-label") }}
                {% if form.nombre.errors %}
                {{ form.nombre(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.nombre.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.nombre(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.apellido.label(class="form-control-label") }}
                {% if form.apellido.errors %}
                {{ form.apellido(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.apellido.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.apellido(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tratamiento.label(class="form-control-label") }}
                {% if form.tratamiento.errors %}
                {{ form.tratamiento(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tratamiento.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tratamiento(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.telefono_movil.label(class="form-control-label") }}
                {% if form.telefono_movil.errors %}
                {{ form.telefono_movil(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.telefono_movil.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.telefono_movil(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.cargo.label(class="form-control-label") }}
                {% if form.cargo.errors %}
                {{ form.cargo(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.cargo.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.cargo(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.observaciones.label(class="form-control-label") }}
                {% if form.observaciones.errors %}
                {{ form.observaciones(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.observaciones.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.observaciones(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}