{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-botton mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.tipo_familia.label(class="form=control-label") }}
                {% if form.tipo_familia.errors %}
                {{ form.tipo_familia(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tipo_familia.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tipo_familia(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.codigoproducto.label(class="form-control-label") }}
                {% if form.codigoproducto.errors %}
                {{ form.codigoproducto(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.codigoproducto.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.codigoproducto(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.ean11.label(class="form-control-label") }}
                {% if form.ean11.errors %}
                {{ form.ean11(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.ean11.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.ean11(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.nombreproducto.label(class="form-control-label") }}
                {% if form.nombreproducto.errors %}
                {{ form.nombreproducto(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.nombreproducto.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.nombreproducto(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.precio.label(class="form-control-label") }}
                {% if form.precio.errors %}
                {{ form.precio(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.precio.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.precio(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.descripcion.label(class="form-control-label") }}
                {% if form.descripcion.errors %}
                {{ form.descripcion(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.descripcion.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.descripcion(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.ancho.label(class="form-control-label") }}
                {% if form.ancho.errors %}
                {{ form.ancho(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.ancho.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.ancho(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.alto.label(class="form-control-label") }}
                {% if form.alto.errors %}
                {{ form.alto(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.alto.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.alto(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.volumen.label(class="form-control-label") }}
                {% if form.volumen.errors %}
                {{ form.volumen(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.volumen.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.volumen(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tipovolumen.label(class="form-control-label") }}
                {% if form.tipovolumen.errors %}
                {{ form.tipovolumen(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tipovolumen.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tipovolumen(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.peso.label(class="form-control-label") }}
                {% if form.peso.errors %}
                {{ form.peso(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.peso.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.peso(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tipopeso.label(class="form-control-label") }}
                {% if form.tipopeso.errors %}
                {{ form.tipopeso(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tipopeso.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tipopeso(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.observaciones.label(class="form-control-label") }}
                {% if form.observaciones.errors %}
                {{ form.observaciones(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.observaciones.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.observaciones(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.imagen.label() }}
                {{ form.imagen(class="form-control-file") }}
                {% if form.imagen.errors %}
                {% for error in form.imagen.errors %}
                <span>{{ error }}</span></br>
                {% endfor %}
                {% endif %}
            </div>
            <legend class="border-botton mb-4">Elementos Web</legend>
            <div class="form-group">
                {{ form.visible_web.label(class="form-control-label") }}
                {% if form.visible_web.errors %}
                {{ form.visible_web(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.visible_web.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.visible_web(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.nombreproducto_web.label(class="form-control-label") }}
                {% if form.nombreproducto_web.errors %}
                {{ form.nombreproducto_web(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.nombreproducto_web.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.nombreproducto_web(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.descripcion_web.label(class="form-control-label") }}
                {% if form.descripcion_web.errors %}
                {{ form.descripcion_web(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.descripcion_web.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.descripcion_web(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}